{% include 'base.html.twig' %}

<body>
	<div class="container mt-5">
		<h1>Create new Farm</h1>

		{{ include('farm/_form.html.twig') }}

		<div style="display: flex; margin-top: 20px;">
			<a href="{{ path('app_farm_index') }}" class="btn btn-primary">back to list</a>
		</div>
	</div>
</body>
