<!DOCTYPE html>

{{ include('base.html.twig') }}

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Report</title>
	</head>
	<body>
		<div class="container mt-5">
			<h2 class="mb-4">Report</h2>
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Farm name</th>
					</tr>
				</thead>
				<tbody>
					{% for farm in farms %}
                        <tr>
                            <th scope="row">{{ farm.id }}</th>
                            <td>{{ farm.name }}</td>
                        </tr>
                    {% endfor %}
				</tbody>
			</table>
		</div>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
	</body>
</html>
